{{ template "header.html" . }}
<div class="view">
    <div class="row">      
            <a href="https://www.w3schools.com">
                <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/tv.png" >
            </a>
            <a href="https://www.w3schools.com">
                <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/on.png" >
            </a>
        
            <a href="https://www.w3schools.com">
                <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/amp.png" >
            </a> 
    </div>
    <div class="row">      
        <a href="https://www.w3schools.com">
            <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/av.png" >
        </a>
        <a href="https://www.w3schools.com">
            <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/led.png" >
        </a>
    
        <a href="https://www.w3schools.com">
            <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/in.png" >
        </a> 
    </div>
    <div class="row">      
        <a href="https://www.w3schools.com">
            <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/1.png" >
        </a>
        <a href="https://www.w3schools.com">
            <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/2.png" >
        </a>
    
        <a href="https://www.w3schools.com">
            <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/3.png" >
        </a> 
    </div>
    <div class="row">      
        <a href="https://www.w3schools.com">
            <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/4.png" >
        </a>
        <a href="https://www.w3schools.com">
            <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/5.png" >
        </a>

        <a href="https://www.w3schools.com">
            <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/6.png" >
        </a> 
    </div>
    <div class="row">      
        <a href="https://www.w3schools.com">
            <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/7.png" >
        </a>
        <a href="https://www.w3schools.com">
            <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/8.png" >
        </a>
    
        <a href="https://www.w3schools.com">
            <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/9.png" >
        </a> 
</div>
<div class="row">      
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/vod.png" >
    </a>
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/0.png" >
    </a>

    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/mytv.png" >
    </a> 
</div>
<div class="row">      
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/vol_up.png" >
    </a> 
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/mute.png" >
    </a>
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/ch_up.png" >
    </a>
</div>
<div class="row">      
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/vol_down.png" >
    </a> 
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/back.png" >
    </a>
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/ch_down.png" >
    </a>
</div>
<div class="row">      
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/guid.png" >
    </a>
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/up.png" >
    </a>

    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/info.png" >
    </a> 
</div>
<div class="row">      
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/arrow_left.png" >
    </a>
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/yes.png" >
    </a>

    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/arrow_right.png" >
    </a> 
</div>
<div class="row">      
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/guid.png" >
    </a>
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/down.png" >
    </a>

    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/question.png" >
    </a> 
</div>
<div class="row">      
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/orange.png" >
    </a>
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/green.png" >
    </a>

    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/yellow.png" >
    </a> 
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/blue.png" >
    </a> 
</div>
<div class="row">      
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/arrow_back.png" >
    </a>
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/play.png" >
    </a>
    
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/arrow_forward.png" >
    </a> 
</div>
<div class="row">      
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;"  src="/static/yesremote/rec.png" >
    </a>
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/stop.png" >
    </a>
    
    <a href="https://www.w3schools.com">
        <img style="margin: 1px; width: 5%; height: auto;" src="/static/yesremote/pause.png" >
    </a> 
</div>
</div>

{{ template "footer.html" . }}