{{ template "header.html" . }}
<div class="view" style="background-image: url('/static/roomhtml/Home.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="alert alert-primaryn" role="alert" id="alert_msg">
        This is a primary alert—check it out!
    </div>
    <div class="row">
        <div style=" color:#000000; border: 4px solid 	#F5F5F5 ; border-radius: 25px;" class="col-md-6">
            <label for="Room name">Room Name</label>
            <div class="text-right" id="online_led">
                {{.OnlineStatusHTML}}
            </div>
            <div class="text-left" >
                <u><h2 class='text-dark'>{{.RoomName}}</h2></u>
            </div>
            
        </div>
        <div style=" color:#000000; border: 4px solid 	#F5F5F5 ; border-radius: 25px;" class="col-md-6">
            <label for="Room name">Quick Control</label>
        </br>
            <button onclick="openDoor()" type="submit" style="margin: 5px;" class="btn btn-primary">
                Open Door
            </button>
            <button onclick="lightOn()" type="submit" style="margin: 5px;" class="btn btn-primary">
                Light On 
            </button>
            <button onclick="lighOff()" type="submit" style="margin: 5px;" class="btn btn-primary">
                Light Off 
            </button>
        </br>
            <button onclick="shutDownAll()" type="submit" style="margin: 5px;" class="btn btn-primary">
                Shut Down All
            </button>
        </div>
    </div>
    <div class="row">
        <div style=" color:#000000; border: 4px solid 	#F5F5F5 ; border-radius: 25px;" class="col-md-6">
            <div class="text-center"><u><h1>Temperature</h1></u></div>
            </br>
            <div class="text-center">
                <img src="/static/roomhtml/Temperture.png" class="rounded mx-auto d-block" alt="Responsive image">
            </div>
            <div class="text-center" id="{{.DHTTemperture}}">{{.DHTSensorTempertureHTML}}</div>
            </br>

        </div>
        <div style="color:#000000; border: 4px solid 	#F5F5F5; border-radius: 25px;" class="col-md-6">
            <div class="text-center"><u><h1>Humidity</h1></u></div>
                </br>
                <div class="text-center">
                    <img src="/static/roomhtml/Humuduty.png" class="rounded mx-auto d-block" alt="Responsive image">
                </div>
                
                <div class="text-center" id="{{.DHTHumuditi}}" >{{.DHTSensorHumudutyHTML}}</div>     
                </br> 
        </div>
        
    </div>
    <div class="row">  
        <div  style="color:#000000; border: 4px solid 	#F5F5F5; border-radius: 25px;" class="col-md-6">
                <div class="text-center"><u><h1>RGB Strip</h1></u></div>
                </br>
                <div class="text-left" id="{{.RGBName}}">
                    {{.RGBStripHTML}}
                </div>
                </br>
                <label for="RGBColor tag">Colors</label>
                <div class="text-left">
                    <div class="col-md-12">
                        {{range .RGBOptions}}
                            <button id="color-btn-{{.}}" type="submit" style="margin: 5px;" class="btn btn-primary">
                                {{.}}
                            </button>
                        {{end}}
                    </div>
                </div>
        </div>

        <div style="color:#000000; border: 4px solid 	#F5F5F5; border-radius: 25px;" class="col-md-6">
            <div class="text-center"><u><h1>Air Conditioner</h1></u></div>
            </br>

            <label for="ACMode">Mode</label>
            <div class="text-left" id="{{.ACModeName}}">
                {{.ACModeHTML}}
            </div>

            <label for="ACTemp">Temp</label>
            <div class="text-left" id="{{.ACTempName}}">
                {{.ACTempHTML}}
            </div>

            </br>

            <label for="AC mode">Mode</label>
            <select class="form-control" id="ac_mode">
                {{range .ACModeOptions}}
                    <option name="{{.}}">{{.}}</option>
                {{end}}
            </select>
            </br>
            <label for="AC temp" >Temp</label>
            <select class="form-control" id="ac_temp">
                {{range .ACTempertureOptions}}
                    <option name="{{.}}">{{.}}</option>
                {{end}}
            </select>
            </br>
                <button onclick="sendAC()" type="submit" class="btn btn-primary">Send</button>
        </div>
    </div>

    <div class="row">
        <div style=" color:#000000; border: 4px solid 	#F5F5F5; border-radius: 25px;" class="col-md-6">
            <div class="text-center"><u><h1>Camera</h1></u></div>
            </br>
            <div class="text-center">
                <img src="/static/roomhtml/NoSignal.jpeg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="text-center" id="{{.CameraID}}">{{.CameraStatus}}</div>
            </br>
        </div>
    </div>
</div>
   
   <script>
    //    SensorFMT //
        function formatSensor(style, val) {
            var sensorFmtLst = "{{.SensorFMT}}".split("%s");  //"<h2 class='%s'>%s</h2>"
            return sensorFmtLst[0] + style + sensorFmtLst[1] + val + sensorFmtLst[2];
        };

        var online_led = $( "#online_led" );
       //Websocket connection
        if (window["WebSocket"]) {
            conn = new WebSocket("ws://" + document.location.host + "/ws");
            conn.onclose = function (evt) {
                console.log("close connection", evt);
            };
            conn.onmessage = function (evt) {
                var messages = evt.data.split("/"); // ["room1_main","update", "dht_Temperture","text-success","43.4"]
                console.log("the message ", messages);
                var roomID = messages[0];
                if (roomID === "{{.RoomID}}") {
                    var action = messages[1];
                    switch(action) {
                    case "update":   //                        text style            value
                        $("#"+ messages[2]).html(formatSensor(messages[3],messages[4]));
                        break;
                    case "status":  //%s/status/OnLineGreen.jpeg
                        online_led.html('<img src="/static/roomhtml/'+messages[2]+'" style="width: 3%; height: auto;" class="img-circle" alt="Responsive image"></img>');
                        console.log("get status ");
                    default:
                        console.log("unknown action", action);                
                    }

                } 
                
            };
            conn.onerror = function(event) {
                console.log("WebSocket error observed:", event);
            };
            console.log("connect to web socket", conn);
        } else {
            
            console.log("brouser npt accept web soccets");
        }
        
        var ac_mode = $( "#ac_mode" );
        var ac_temp = $( "#ac_temp" ); 

        function sendAC() {
            var url = "/action?roomid={{.RoomID}}&deviceid={{.ACName}}&action=" + ac_mode.val()+"_"+ac_temp.val();
            $.get(url , function( data ) {
                    // alert( "Data Loaded: " + data );
            });
        };   

        function shutDownAll(){
            var url = "/action?roomid={{.RoomID}}&deviceid=scenario&action=shutdownall";
            $.get(url , function( data ) {
                    // alert( "Data Loaded: " + data );
            });
        };

        function openDoor(){
            var url = "/action?roomid={{.RoomID}}&deviceid={{.DoorID}}&action=open";
            $.get(url , function( data ) {
                    // alert( "Data Loaded: " + data );
            });
        };

        function lighOff(){
            var url = "/action?roomid={{.RoomID}}&deviceid={{.LightID}}&action=off";
            $.get(url , function( data ) {
                    // alert( "Data Loaded: " + data );
            });
        };

        function lightOn(){
            var url = "/action?roomid={{.RoomID}}&deviceid={{.LightID}}&action=on";
            $.get(url , function( data ) {
                    // alert( "Data Loaded: " + data );
            });
        };

        $(document).ready(function() {
            var url = "/action?roomid={{.RoomID}}&deviceid={{.RGBName}}&action=";
            {{range .RGBOptions}}
                $("#color-btn-{{.}}").click(function() {
                    console.log("et click on: {{.}}");
                    $.get(url + "{{.}}" , function( data ) {
                            // alert( "Data Loaded: " + data );
                           
                            $('#alert_msg').text(data);
                            // $('#alert_msg').show();
                            $( "#alert_msg" ).slideUp( 300 ).delay( 800 ).fadeIn( 400 );
                            
                            function hide_popup(){
                                $("#alert_msg").text("");
                                $( "#alert_msg" ).hide();
                    
                            };
                            window.setTimeout( hide_popup, 5000 ); // 5 seconds
                           

                    });
                    
                });
            {{end}}

            $('#alert_msg').hide();
        });
        
   </script>
{{ template "footer.html" . }}